<div class="hero-container">
    <p class="hero-text">Fullservice-Produktion
        für Film, Fotografie & Animation</p>
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="hero-full-container">
                    <div class="custom-container-1 grid-containers">

                        <div class="video-container">
                            <div class="header">
                                <a href="#">
                                    <p class="anchor-index">01</p>
                                    <p class="anchor-title">7EMA <br>BLA7ESs</p>
                                </a>
                            </div>
                            <video src="{{'assets/videos/7EMA_Robert_Anil_Nektar_Header3.mp4'| theme}}"
                                class="large-video" autoplay muted playsinline loop></video>
                        </div>
                    </div>
                    <div class="custom-container-2 grid-containers">
                        <div class="video-container-small ">
                            <video src="{{'assets/videos/7EMA_Robert_Anil_Nektar_Header3.mp4'| theme}}"
                                class="small-video zoomed-in" autoplay muted playsinline loop></video>
                        </div>
                    </div>
                    <div class="custom-container-3 grid-containers">
                        <div class="video-container-small ">
                            <div class="sub-header">
                                <p class="container-subtitle">Film</p>
                                <br>
                                <p class="container-subtitle">MUSIKVIDEO</p>
                                <br>
                            </div>
                            <video src="{{'assets/videos/7EMA_Robert_Anil_Nektar_Header3.mp4'| theme}}"
                                class="small-video " autoplay muted playsinline loop></video>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="hero-full-container">
                    <div class="custom-container-1 grid-containers">

                        <div class="video-container">
                            <div class="header">
                                <a href="#">
                                    <p class="anchor-index">01</p>
                                    <p class="anchor-title">FC St. Gallen <br>Trikot Launch Saison 25/26</p>
                                </a>
                            </div>
                            <video src="{{'assets/videos/FCSG_Trikot_Leo_Graf_Nektar_Thumbnail.mp4'| theme}}"
                                class="large-video" autoplay muted playsinline loop></video>
                        </div>
                    </div>
                    <div class="custom-container-2 grid-containers">
                        <div class="video-container-small ">
                            <video src="{{'assets/videos/FCSG_Trikot_Leo_Graf_Nektar_Thumbnail.mp4'| theme}}"
                                class="small-video zoomed-in" autoplay muted playsinline loop></video>
                        </div>
                    </div>
                    <div class="custom-container-3 grid-containers">
                        <div class="video-container-small ">
                            <div class="sub-header">
                                <p class="container-subtitle">Film</p>
                                <br>
                                <p class="container-subtitle">Commercial</p>
                                <br>
                                <p class="container-subtitle">VFX & Animation</p>
                                <br>
                                <p class="container-subtitle">CGI</p>
                                <br>
                                <p class="container-subtitle">Motion Design</p>
                                <br>
                            </div>
                            <video src="{{'assets/videos/FCSG_Trikot_Leo_Graf_Nektar_Thumbnail.mp4'| theme}}"
                                class="small-video " autoplay muted playsinline loop></video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-arrows">
            <div class="swiper-arrows">
                <div class="arrow-left arrows">{% partial 'icons/arrow-left' %}</div>
                <div class="arrow-right arrows">{% partial 'icons/arrow-right' %}</div>
            </div>
            <div class="slide-number">
                01/01
            </div>
        </div>

    </div>
</div>