<div class="hero-container">

    <p class="hero-text">Fullservice-Produktion für Film, Fotografie & Animation</p>
    Chocolat Bernrain
    <div class="hero-full-container">
        <div class="custom-container-1 grid-containers panel" data-panel="1">
            <div class="video-container panel-inner">
                <div class="panel-face ">
                    <div class="header">
                        <a href="#">
                            <p class="anchor-index">01</p>
                            <p class="anchor-title">7EMA<br>BLA7ES</p>
                        </a>
                    </div>
                    <video src="{{'assets/videos/7EMA_Robert_Anil_Nektar_Header3.mp4'|theme}}" autoplay muted
                        playsinline loop></video>
                </div>
                <div class="panel-face ">
                    <div class="header">
                        <a href="#">
                            <p class="anchor-index">02</p>
                            <p class="anchor-title">FC St. Gallen<br>Trikot Launch Saison 25/26</p>
                        </a>
                    </div>
                    <video src="{{'assets/videos/FCSG_Trikot_Leo_Graf_Nektar_Thumbnail.mp4'|theme}}" muted playsinline
                        loop></video>
                </div>
                <div class="panel-face ">
                    <div class="header">
                        <a href="#">
                            <p class="anchor-index">03</p>
                            <p class="anchor-title">Bakara Music<br>Vernisage</p>
                        </a>
                    </div>
                    <video src="{{'assets/videos/vernisage_header.mp4'|theme}}" muted playsinline loop></video>
                </div>
                <div class="panel-face ">
                    <div class="header">
                        <a href="#">
                            <p class="anchor-index">04</p>
                            <p class="anchor-title">Lipton Ice Tea<br>Sommerlier</p>
                        </a>
                    </div>
                    <video src="{{'assets/videos/Lipton_Sommerlier_Header.mp4'|theme}}" muted playsinline loop></video>
                </div>
                <div class="panel-face ">
                    <div class="header">
                        <a href="#">
                            <p class="anchor-index">05</p>
                            <p class="anchor-title">Chocolat Bernrain<br>Stella</p>
                        </a>
                    </div>
                    <video src="{{'assets/videos/Stella_Coconut_Rouven_Niedermaier_header.mp4'|theme}}" muted
                        playsinline loop></video>
                </div>
            </div>
        </div>
        <div class="custom-container-2 grid-containers panel" data-panel="2">
            <div class="video-container-small panel-inner">
                <div class="panel-face">
                    <video src="{{'assets/videos/7EMA_Robert_Anil_Nektar_Header3.mp4'|theme}}" class="zoomed-in"
                        autoplay muted playsinline loop></video>
                </div>
                <div class="panel-face">
                    <video src="{{'assets/videos/FCSG_Trikot_Leo_Graf_Nektar_Thumbnail.mp4'|theme}}" class="zoomed-in"
                        muted playsinline loop></video>
                </div>
                <div class="panel-face ">
                    <video src="{{'assets/videos/vernisage_header.mp4'|theme}}" class="zoomed-in" muted playsinline
                        loop></video>
                </div>
                <div class="panel-face ">
                    <video src="{{'assets/videos/Lipton_Sommerlier_Header.mp4'|theme}}" class="zoomed-in" muted
                        playsinline loop></video>
                </div>
                <div class="panel-face ">
                    <video src="{{'assets/videos/Stella_Coconut_Rouven_Niedermaier_header.mp4'|theme}}"
                        class="zoomed-in" muted playsinline loop></video>
                </div>
            </div>
        </div>
        <div class="custom-container-3 grid-containers panel" data-panel="3">
            <div class="video-container-small panel-inner">
                <div class="panel-face  ">
                    <div class="sub-header">
                        <p class="container-subtitle">Film</p><br>
                        <p class="container-subtitle">MUSIKVIDEO</p><br>
                    </div>
                    <video src="{{'assets/videos/7EMA_Robert_Anil_Nektar_Header3.mp4'|theme}}" autoplay muted
                        playsinline loop></video>
                </div>
                <div class="panel-face ">
                    <div class="sub-header">
                        <p class="container-subtitle">Film</p><br>
                        <p class="container-subtitle">Commercial</p><br>
                        <p class="container-subtitle">VFX & Animation</p><br>
                        <p class="container-subtitle">CGI</p><br>
                        <p class="container-subtitle">Motion Design</p><br>
                    </div>
                    <video src="{{'assets/videos/FCSG_Trikot_Leo_Graf_Nektar_Thumbnail.mp4'|theme}}" muted playsinline
                        loop></video>
                </div>
                <div class="panel-face ">
                    <div class="sub-header">
                        <p class="container-subtitle">Film</p><br>
                        <p class="container-subtitle">MusikVideo</p><br>
                        <p class="container-subtitle">Fotografie</p><br>
                        <p class="container-subtitle">Pressebilder</p><br>
                    </div>
                    <video src="{{'assets/videos/vernisage_header.mp4'|theme}}" muted playsinline loop></video>
                </div>
                <div class="panel-face ">
                    <div class="sub-header">
                        <p class="container-subtitle">Film</p><br>
                        <p class="container-subtitle">Commercial</p><br>
                        <p class="container-subtitle">Social Ad</p><br>
                        <p class="container-subtitle">Fotografie</p><br>
                        <p class="container-subtitle">VFX & Animation</p><br>
                        <p class="container-subtitle">VFX</p><br>
                        <p class="container-subtitle">Motion Design</p><br>
                    </div>
                    <video src="{{'assets/videos/Lipton_Sommerlier_Header.mp4'|theme}}" muted playsinline loop></video>
                </div>
                <div class="panel-face ">
                    <div class="sub-header">
                        <p class="container-subtitle">Film</p><br>
                        <p class="container-subtitle">Commercial</p><br>
                        <p class="container-subtitle">Social Ad</p><br>
                        <p class="container-subtitle">Fotografie</p><br>
                        <p class="container-subtitle">Kampagne</p><br>
                    </div>
                    <video src="{{'assets/videos/Stella_Coconut_Rouven_Niedermaier_header.mp4'|theme}}" muted
                        playsinline loop></video>
                </div>
            </div>
        </div>
    </div>
    <div class="container-arrows">
        <div class="swiper-arrows">
            <div class="arrow-left arrows" id="prevBtn">{% partial 'icons/arrow-left' %}</div>
            <div class="arrow-right arrows" id="nextBtn">{% partial 'icons/arrow-right' %}</div>
        </div>
        <div class="slide-number" >01/05</div>
    </div>
</div>