<div class="hero-container">
<p class="hero-text">Fullservice-Produktion
für Film, Fotografie & Animation</p>
   <div class="hero-full-container">
         <div class="custom-container-1 grid-containers">
           <div class="video-container">
                <video src="{{'assets/videos/7EMA_Robert_Anil_Nektar_Header3.mp4'| theme}}" class="large-video" autoplay muted playsinline loop></video>
           </div>
        </div>
        <div class="custom-container-2 grid-containers">
            <div class="video-container-small ">
                <video src="{{'assets/videos/7EMA_Robert_Anil_Nektar_Header3.mp4'| theme}}" class="small-video" autoplay muted playsinline loop></video>
           </div>
        </div>
        <div class="custom-container-3 grid-containers">
             <div class="video-container-small ">
                <video src="{{'assets/videos/7EMA_Robert_Anil_Nektar_Header3.mp4'| theme}}" class="small-video" autoplay muted playsinline loop></video>
           </div>
        </div>
   </div>
</div>