*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --page-padding: 0.625rem;
    --grid-gutter: 0.625rem;
    --border-radius: 3px;
    --header-height: 3rem;
    --font-size-xxs: 0.625rem;
    --font-size-xs: 0.875rem;
    --font-size-s: 1.125rem;
    --font-size-m: 1.75rem;
    --font-size-l: 2.5rem;
    --font-size-xl: 3.75rem;
    --font-size-xxl: 5rem;
    --font-family-default: "Monument Grotesk", Arial, Helvetica, sans-serif;
    --font-family-title: "Gravity", Arial, Helvetica, sans-serif;
    --color-black: #000;
    --color-white: #fff;
    --color-gray: #e7e8eb;
    --color-gray-dark: #1c1c1c;
    --color-accent: #001eff;
    --bezier-ease: cubic-bezier(0.28, 0.76, 0.44, 0.96);
    --vh-100: 911px;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    font-family: var(--font-family-default);
    font-size: var(--font-size-s);
    line-height: 1.1;
    color: var(--color-black);
    background-color: var(--color-gray);
    min-height: var(--vh-100);
    display: flex;
    flex-direction: column;
}
::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: black;
    opacity: 0.7;
    border-radius: 100px;
}
@font-face {
    font-family: "Monument Grotesk";
    src: url("../fonts/ABCMonumentGroteskSemiMono-Regular-Trial.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Gravity";
    src: url("../fonts/Gravity-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: opacity 0.3s ease;
  z-index: 1; 
  
}

.overlay.active {
  backdrop-filter: blur(5px);
  background-color: rgba(0,0,0,0.08); 
 
}
.navbar{    
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    padding: 0 !important;
    margin: 0 !important;
}
.navbar .container-fluid {
    position: relative !important; /* THIS is the anchor */
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important; /* was flex-start, that was stretching it */
    padding: 0px 10px !important;
    margin: 0 !important;
}

.menu-items{
    position: relative;
    background-color: var(--color-white); 
    display: flex;
    gap: 1px;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    padding: 30px 20px; 
    border-radius: 5px;
    z-index: 9999;

}
.hamburger-menu{
    display: block;
    width: 15px;
    height: 2px;
    background-color: var(--color-black);
    border-radius: 2px;
    transform-origin: center;
    transition: all 0.3s ease;
}


.dropdown-toggle::after{
    display: none;
}
.menu-items:hover{
 background-color: var(--color-accent);
    .hamburger-menu{
        background-color: var(--color-white);
    }
}
.navbar-nav{
    position: absolute;
    right: 10;
    top: 0;
    z-index: 2;
}

.dropdown-menu.show {
    position: relative;
    display: flex !important;
    flex-direction: column;
    gap: 2px;
    background-color: transparent;
    border: none;
    width: max-content;
    z-index: 9999;
}

.dropdown-menu li{
   
   background-color: var(--color-white);
   display: flex;
   align-items: center;
   list-style: none;
   border-radius: 10px;
   overflow: hidden;
 
}
.dropdown-menu li a{ 
    width: min(600px,90vw);
    position: relative  ;
    font-weight: 700;
    text-decoration: none;
    color: inherit;
    height: 6.5rem;
    display: flex;
    padding: 10px 30px;
    min-width: 280px;
    
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
    background-color: transparent;
    color: inherit;
}
.nav-link-text{
    display: block;
    font-size: var(--font-size-l);
    font-weight: 700;
   line-height: .8;
   transition: transform 0.2s ease;
}
.nav-link-label{
    font-size: var(--font-size-xxs);
    padding-right: 1.5rem;
} 

 .nav-link-arrow{
    position: absolute;
    height: 100%;
    width: 1.5rem;
    right: 0;
    top: 0;
    background-color: var(--color-accent);
    transform: translate3d(100%,0,0);
    transition: transform 0.2s ease;
 }
 .nav-link-arrow::after{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 0 4px 6px;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translate3d(-50%,0,0);
 }
.dropdown-menu li a:hover .nav-link-arrow {
    transform: translate3d(0, 0, 0);
}
.dropdown-menu li a:hover .nav-link-text{   
    transform: translateX(-5%);
}
.nav-open .menu-items {
    gap: 0;
}
.nav-open .menu-items span:nth-child(1) {
    transform: rotate(45deg) translate(1.5px, 1.5px);
}
.nav-open .menu-items span:nth-child(2) {
    opacity: 0;
    transform: scaleX(0);
}

.nav-open .menu-items span:nth-child(3) {
    transform: rotate(-45deg) translate(1.5px, -1.5px);
}
@media (max-width:700px){
   .dropdown-menu li a{
     max-width: 470px;
     height: auto;
   }
   .nav-link-text{
    font-size: var(--font-size-m);
   }
    .navbar-brand img{
        width: 250px;
        height: auto;
    }
    .menu-items{
        padding: 10px 20px;
    }
}