<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nektar</title>
    <link href="{{'assets/css/bootstrap.min.css'| theme}}" rel="stylesheet" />
    <link rel="stylesheet" href="{{'assets/css/style.css'| theme }}">
    <link
  href="https://cdn.jsdelivr.net/npm/remixicon@4.9.0/fonts/remixicon.css"
  rel="stylesheet"
/>  
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css"
/>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.14.1/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.14.1/dist/ScrollTrigger.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.14.1/dist/ScrollSmoother.min.js"></script>
    <script type="module" src="{{'assets/js/script.js'| theme }}"></script>
    <script src="{{ 'assets/js/bootstrap.bundle.min.js'| theme}} "></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
</head>

<body>

    {% partial 'site/nav-bar'%}
    <div id="wrapper">
        <div id="content">
            <main class="main-content" role="main">
                {% page %}
            </main>
    {# {% partial 'site/footer' %} #}
      </div>
    </div>

</body>

</html>